

<div class="main">
    <div class="main-box">
        <div class="logo"><img src="~/images/logo.png?v=1.0" alt="" /></div>
        <div class="logo-word">台灣好農</div>
        <div class="logo-word-en">The Wonderfulfood</div>
        <h2 class="bind">跳轉成功</h2>
        
    </div>
</div>